.center{
  text-align: center;
}
img{
  margin: 1em;
  max-width: 20%;
}
.half{
  max-width: 20%;
}
.button{
  text-align: center;
  border-radius: 25px:
  padding: 75px;
}
.page-content{
  background-image: url(img/border.jfif);
  background-size: 100% 100%;
}
